/* write your override styles here */
div#tag-3 {
    width: fit-content;
    height: max-content;
    top: inherit;
    display: list-item;
    border-block: unset;
    background-color: coral;
}
div#tag-5 {
    padding-left: initial;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: border-box;
}
.tag-1 {
    background-color: aqua;
    padding-bottom: inherit;
    border-block-width: revert;
    height: fit-content;
}